<div class="container">
  <form [formGroup]="simpleForm">
    <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <span *ngIf="name && name.invalid && (name.dirty || name.touched)" class="text-danger ">
        <span *ngIf="name.errors?.['required']">Please Fill this Field </span>
        <span *ngIf="name.errors?.['pattern']">Name is Invalid</span>
        <span *ngIf="name.errors?.['minlength']">Min Length Should 3 Character's Long</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
      <span *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-danger">
        <span *ngIf="email.errors?.['required']">Enter Your Email ID</span>
        <span *ngIf="email.errors?.['pattern']">Email is Invalid</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
      <span *ngIf="password && password.invalid && (password.dirty || password.touched)" class="text-danger">
        <span *ngIf="password.errors?.['required']">Please Enter Your Password</span>
        <span *ngIf="password.errors?.['minlength']">Min Length of Password Should be 5 Character Long</span>
        <span *ngIf="password.errors?.['maxlength']">Max Length of Password Should be 10 Character Long</span>
      </span>
    </div>
    <button (click)="onSubmit()" type="button" class="btn btn-success" [disabled]="simpleForm.invalid">Submit</button>
  </form>

  <table class="table table-hover m-2 table-striped">
    <thead class="table-dark">
     
      <tr *ngIf="table">
        <th>Name</th>
        <th>Email</th>
      </tr>
    
    </thead>
    <tbody>
      <tr *ngFor="let person of persons, ">
        <td >{{person.name}}</td>
        <td>{{person.email}}</td>
      </tr>
    </tbody>
  </table>
</div>